a {color:rgb(51, 255, 0); font-size:12px;}
	body {font-family:verdana;}
	caption {color:#000; font-size:14px;} 
	h1 {color:rgb(0, 0, 0); font-size:20px;} 
	h2 {color:#666; font-size:16px;} 
	p, li, td {color:#000; font-size:12px;}
	th {color:rgb(230, 17, 17); font-size:12px;} 

	/* Tabla */
	table, td, th {border:1px solid black;}
	table {border-collapse:collapse;}
	td, th {padding:10px;}
	thead {background:#666;}
	tfoot {background:#ccc;}